.App {
  text-align: center;
}

.riquadro-eroi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding-left: 10%;
  align-items: center;
}

.selezione-eroe {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.selezione-eroe > img {
  width: 80px;
  cursor: pointer;
}

.btn-add-truppa {
  margin-top: 10px;
}